@font-face { font-family: "Delicious"; src: url('fonts/Delicious.ttf'); }
/* Styles Reset and General Fonts */
html { font: normal normal normal 10px/1.3 "Delicious", "Optima", "Myriad Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", arial, sans-serif; }
body { background: #fefefe; font-size: 1.6em; color: #222; }
body, div, img, p, h1, h2, h3, ol, ul, li { margin: 0; border: 0; padding: 0; }
h1, h2, h3 { margin: 0.3em 0; font-family: "Trajan Pro", "Garamond", "Georgia", serif; font-variant: small-caps; }
h1 { font-size: 2.2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.4em; }
p { margin: 0.5em 0; }
/* General Styles */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; line-height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
/* Basic Layout */
#wrap { position: relative; margin: 0 3%; }
#title { padding: 0 0 0.5em; }
.section { border-top: 2px solid #ddd; padding: 0.5em 0 0.5em; }
.section ol, .section li { position: relative; list-style: none; }
.section li { float: left; position: relative; padding: 0 1.5%; width: 30%; }
.section li img { max-width: 100%; }
* html .section li img { -ms-interpolation-mode: bicubic; width: 98%; }
#opensource ol { margin: 0 auto; width: 66%; }
#opensource li { padding: 0 2.25%; width: 45.5%; }
/* Enhanced Layout */
#client .boxed { margin: 0 0 0 1%; padding: 0; width: 32.5%; }
#client .boxed:first-child { margin: 0; }
#client .boxed .edge { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#client .boxed .edge.top { background: url(../img/box/top.gif) left top repeat-x; }
#client .boxed .edge.right { background: url(../img/box/right.gif) right top repeat-y; }
#client .boxed .edge.bottom { background: url(../img/box/bottom.gif) left bottom repeat-x; }
#client .boxed .edge.left { background: url(../img/box/left.gif) left top repeat-y; }
#client .boxed .corner { position: absolute; width: 13px; height: 13px; z-index: 5; background: url(../img/box/corners.gif) left top no-repeat; }
#client .boxed .corner.top { top: 0; left: 0; }
#client .boxed .corner.right { top: 0; right: 0; background-position: -13px 0; }
#client .boxed .corner.bottom { bottom: 0; right: 0; background-position: -13px -13px; }
#client .boxed .corner.left { bottom: 0; left: 0; background-position: 0 -13px; }
#client .boxed .content { position: relative; padding: 13px 17px 12px 13px; }
#client .boxed .tooltip { position: absolute; top: 0; left: -9999px; }