@font-face { font-family: "Delicious"; src: url('fonts/Delicious.ttf'); }
/* Styles Reset and General Fonts */
html { font: normal normal normal 10px/1.3 "Delicious", "Optima", "Myriad Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", arial, sans-serif; }
body { background: #fefefe; font-size: 1.6em; color: #222; }
body, div, img, p, h1, h2, h3, ol, ul, li { margin: 0; border: 0; padding: 0; }
h1, h2, h3 { margin: 0.3em 0; font-family: "Trajan Pro", "Garamond", "Georgia", serif; font-variant: small-caps; }
h1 { font-size: 2.2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.4em; }
p { margin: 0.5em 0; }
/* General Styles */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; line-height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
/* Basic Layout */
#wrap { position: relative; margin: 0 3%; }
#title { padding: 0 0 0.5em; }
.section { border-top: 2px solid #ddd; padding: 0.5em 0 0.9em; }
.section ol, .section li { position: relative; list-style: none; }
.section li { float: left; position: relative; padding: 0 1.5%; width: 30%; }
.section li img { max-width: 100%; }
#opensource ol { margin: 0 auto; width: 66%; }
#opensource li { padding: 0 2.25%; width: 45.5%; }
/* Enhanced Layout */
.scrollbarWrapper { position: relative; padding-right: 25px; overflow: hidden; }
.scrollbar { position: absolute; top: 2.5%; right: 4px; border: 1px solid #222; width: 13px; height: 95%; }
.scrollbarBack, .scrollbarForward { position: absolute; left: 0; width: 13px; height: 13px; background: #eee; }
.scrollbarBack { top: 0; border-bottom: 1px solid #222; }
.scrollbarForward { bottom: 0; border-top: 1px solid #222; }
.scrollbarTrack, .scrollbarScrubber { position: relative; width: 13px; }
.scrollbarScrubber { left: 1px; margin: -1px 0; border: 1px solid #222; width: 9px; background: #ddd; }

.edge { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.edge.top { background: url(../img/box/top.gif) left top repeat-x; }
.edge.right { background: url(../img/box/right.gif) right top repeat-y; }
.edge.bottom { background: url(../img/box/bottom.gif) left bottom repeat-x; }
.edge.left { background: url(../img/box/left.gif) left top repeat-y; }
.corner { position: absolute; width: 13px; height: 13px; z-index: 3; background: url(../img/box/corners.gif) left top no-repeat; }
.corner.top { top: 0; left: 0; }
.corner.right { top: 0; right: 0; background-position: -13px 0; }
.corner.bottom { bottom: 0; right: 0; background-position: -13px -13px; }
.corner.left { bottom: 0; left: 0; background-position: 0 -13px; }

li.boxed { margin: 0 0 0 1%; padding: 0; width: 32.5%; } /* li is necessary in selector to overwrite .section li styles */
.boxed:first-child { margin: 0; }
.boxed .content { position: relative; padding: 13px 17px 12px 13px; }
.boxed .tooltip { position: absolute; z-index: 5; border: 2px solid #ddd; padding: 2%; width: 110%; height: 100%; overflow: hidden; background: #fefefe; }
.boxed .tooltip.sliding { height: auto; }
.boxed .tooltip h3 { margin: 0; padding-top: 0.2em; text-align: center; }
.boxed .tooltip.sliding h3 { padding-right: 20px; }
.boxed .tooltip p { margin: 0; padding: 0.5em 0 0.2em; }
.boxed .wrapper { position: relative; }
