/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face { font-family: "Delicious"; src: url('fonts/Delicious.ttf'); }
/* Styles Reset and General Fonts */
html { font: normal normal normal 10px/1.3 "Delicious", "Optima", "Myriad Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", arial, sans-serif; }
body { background: #fefefe; font-size: 1.6em; color: #222; }
body, div, img, p, h1, h2, h3, ol, ul, li { margin: 0; border: 0; padding: 0; }
h1, h2, h3 { margin: 0.3em 0; font-family: "Trajan Pro", "Garamond", "Georgia", serif; font-variant: small-caps; }
h1 { font-size: 2.2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.4em; }
p { margin: 0.5em 0; }
/* General Styles */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; line-height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
/* Basic Layout */
#wrap { position: relative; margin: 0 3%; }
#title { padding: 0 0 0.5em; }
.section { position: relative; border-top: 2px solid #ddd; padding: 0.5em 0 0.9em; }
.section ol, .section li { position: relative; list-style: none; }
.section li { float: left; position: relative; padding: 0 1.5%; width: 30%; }
.section li img { max-width: 100%; }
#personas ul { list-style: none; }
#personas li { float: left; margin: 0 2em 0 0; width: auto; }
#client { z-index: 2; }
#opensource ol { margin: 0 auto; width: 66%; }
#opensource li { padding: 0 2.25%; width: 45.5%; }
