body, div, h1, h2, h3, p, ol, ul, li, abbr, span { margin: 0; border: 0; padding: 0; }
body {
  margin: 1em auto 3em 5%; padding: 0; max-width: 750px; color: #1d1916; background: #f4eed9; line-height: 1.3;
  font-family: "katarine-web-1", "katarine-web-2", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 100%;
}
.js body { visibility: hidden; }
.wf-active body, .wf-inactive body { visibility: visible; }
a { color: #9c0001; }
a:hover { color: #e40000; }
abbr { border: 0; text-decoration: none; }
h1, h2, h3 { font-family: "museo-slab-1","museo-slab-2", Times, serif; font-weight: 300; }
h1 { font-size: 2.5em; line-height: 1.6; font-weight: 700; }
h2 {
  margin: 1em 0 0; padding: 0.25em; font-size: 1.75em; line-height: 1; background: #e5dabf;
  border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; -o-border-radius: 7px; -ms-border-radius: 7px;
  box-shadow: 1px 2px 3px #ccc; -webkit-box-shadow: 1px 2px 3px #ccc; -moz-box-shadow: 1px 2px 3px #ccc; -ms-box-shadow: 1px 2px 3px #ccc;
}
h3 { font-size: 1.2em; line-height: 1.3; font-style: italic; }
ol { margin: 0 3.5%; list-style: none; }
ol li { margin: 1.4em 0 0; }
ul { margin: 0 0 0 5%; list-style-type: circle; }
/* Styles */
div.vcard { margin: 0; padding: 0; text-align: center; }
div.vcard .type, div.vcard .location { display: none; }
div.vcard span { padding: 0 0.2em; }
.dates { display: inline-block; }
.location { display: inline-block; }
.dates, .location { margin: 0 0 0.9em; }
.location:before { content: ' -- ';  }
.description { clear: both; margin: 0 2.5%; }
.responsibilities { margin-top: 0.1em; margin-right: 20%; }
.responsibilities li { margin: 0; }
#skills, #software { margin: 1.4em 0 0 8%; }
@media print {
  body { max-width: 8in; }
  img { display: none; }
}