body { margin: 0 auto 0 5%; padding: 0; max-width: 750px; }
h1, h2 { margin: 0.25em 0; padding: 0.25em 0.5em; font-family: "museo-slab-1","museo-slab-2"; }
h2 { background: #ccc; }
h3 { margin: 0; padding: 0; font-family: "aviano-slab-1","aviano-slab-2",Times,serif; }
p { margin: 0; padding: 0; }
ol, ul { margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; }
li { margin: 0.25em 0; }
address { margin: 0; padding: 0; text-align: center; }
address .contact { font-family: Georgia; }
#experience, #skills { margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; list-style: none; }
