---
layout: base
---

<div class="blog-index">
  {% assign index = true %}
  {% assign show = 3 %}
  {% for post in site.posts limit: show %}
  {% assign content = post.content %}
      {% include article.html %}
  {% endfor %}
</div>
<div id="blog-archives">
  <h2 class="decorated"><a href="/archives/">Archives</a></h2>
  {% for post in site.posts offset: show %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% unless year == this_year %}
      {% assign year = this_year %}
      <h3>{{ year }}</h3>
    {% endunless %}
    {% include archive_article.html %}
  {% endfor %}
</div>

