<article class="hentry">
  <header>
    {% if post.link %}
    <h1 class="entry-title"><a class="external" href="{{ post.link }}">{{ post.title }}</a></h1>
    {% elsif index %}
    <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h1>
    {% else %}
    <h1 class="entry-title">{{ post.title }}</h1>
    {% endif %}
    {% if post.date %}
    <time class= "updated" datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%B</span> <span class='day'>%d</span>, <span class='year'>%Y</span>"}}</time> - by <span class="byline source-org author vcard"><span class="org fn">{{ site.author }}</span></span>
    {% endif %}
  </header>
  <div class="clearfix entry-content">{{ content }}</div>
  {% if index %}
  <footer>
    <p><a class="permalink" href="{{ root_url }}{{ post.url }}">&#8766; permalink</a></p>
  </footer>
  {% else %}
  <footer>
    <nav class="clearfix">
      {% if post.previous %}
      <p class="prev"><a href="{{ post.previous.url }}">{{ post.previous.title }}</a></p>
      {% endif %}
      {% if post.next %}
      <p class="next"><a href="{{ post.next.url }}">{{ post.next.title }}</a></p>
      {% endif %}
    </nav>
  </footer>
  {% endif %}
</article>

