.vcard h1, .vcard .type, .vcard .location, .vcard .tel, .contact { display: none; }

.status { margin-top: 1em; border: 0; }
.working-not-working { display: block; font-weight: 800; text-transform: uppercase; }
.updated { display: block; font-weight: 300; font-style: italic; }
sup:before { content: ' '; }
sup:after { content: ''; }

aside ul, .responsibilities {
  padding-left: 3%; list-style-position: inside; list-style-type: disc; list-style-type: square;
}
.vcalendar { padding-left: 0; }
.job { list-style: none; }

@media only screen and (min-width: 700px) {
}

@media print {
  body { margin: 0; max-width: 8in; font-size: 70%; }
  #banner, img, .status { display: none !important; }
  .vcard h1, .contact, .vcard .location { display: block; }
  .vcard .tel { display: inline; }
  h2 { border: 0; }
  a { text-decoration: none; color: #222; }
  .coverletter { padding: 0; margin: 3em 7% 0; }
  .experience:nth-child(4), .experience:nth-child(9), .experience:nth-child(15) {
    page-break-after: always;
  }
}
