.entry-title { display: none; }

.vcard h1, .vcard .type, .vcard .tel { display: none; }

.status { margin-top: 1em; border: 0; }
.working-not-working { display: block; font-weight: 800; text-transform: uppercase; }
.updated { display: block; font-weight: 300; font-style: italic; }
sup:before { content: ' '; }
sup:after { content: ''; }

.contact, .location-contact { float: left; width: 30%; }

#skills:before, #skills:after { content: ""; display: table; }
#skills:after { clear: both; }
#skills { zoom: 1; }

aside { clear: both; }
aside ul, .responsibilities {
  padding-left: 3%; list-style-position: inside; list-style-type: disc; list-style-type: square;
}
.vcalendar { padding-left: 0; }
.job { list-style: none; }

abbr[title] { border: 0; }

@media only screen and (min-width: 700px) {
}

@media print {
  body { margin: 0; max-width: 8in; font-size: 90%; }
  #banner, img, .status { display: none !important; }
  .vcard h1, .contact, .vcard .location { display: block; }
  h2 { border: 0; }
  a { text-decoration: none; color: #222; }
  a:link:after, a:visited:after { content:" (" attr(href) ") "; font-size: 0.7em; }
  .coverletter { padding: 0; margin: 3em 7% 0; }
  .experience:nth-child(2), .experience:nth-child(6), .experience:nth-child(9),
      .experience:nth-child(12), .experience:nth-child(16), .experience:nth-child(19) {
    page-break-after: always;
  }
  #colophon { display: none; }
}
