---
layout: base
link: false
---

<article>
  <header>
    {% if page.link %}
    <h1 class="entry-title"><a href="{{ page.link }}">{{ page.title }}</a></h3>
    {% else %}
    <h1 class="entry-title">{{ page.title }}</h1>
    {% endif %}
    <time datetime="{{ page.date | datetime | date_to_xmlschema }}" pubdate>{{ page.date | date: "<span class='month'>%B</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
  </header>
  <div class="entry-content">{{ content }}</div>
</article>
