body, div, h1, h2, h3, p, ol, ul, li, abbr, span { margin: 0; border: 0; padding: 0; }
body {
  margin: 1em 5% 3em; padding: 0; color: #1d1916; background: #f4eed9; line-height: 1.3;
  font-family: "katarine-web-1", "katarine-web-2", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 100%;
}
body:after { content: ' '; display: block; height: 0; overflow: hidden; visibility: hidden; clear: both; }
.js body { visibility: hidden; }
.wf-active body, .wf-inactive body { visibility: visible; }
a { color: #9c0001; }
a:hover { color: #e40000; }
abbr { border: 0; text-decoration: none; }
h1, h2, h3 { font-family: "museo-slab-1","museo-slab-2", Times, serif; font-weight: 300; }
h1 { font-size: 2.5em; line-height: 1.6; font-weight: 700; }
h2 {
  margin: 1em 0 0; border: solid #e5dabf; border-width: 1px 0; padding: 0.25em 0.5em; font-size: 1.75em; line-height: 1;
}
h3 { font-size: 1.2em; line-height: 1.3; font-style: italic; }
ol { margin: 0 0.875em; list-style: none; }
ol li { margin: 1.4em 0 0; }
ul { margin: 0; list-style-type: circle; }
/* Styles */
#side { float: right; margin: 0 0 2em 7%; width: 36.5%; }
#side ul { margin: 1.4em 0 0 0.875em; }
div.vcard { margin: 0; padding: 0; text-align: center; }
div.vcard .type, div.vcard .location { display: none; }
div.vcard span { padding: 0 0.2em; }
.dates { display: inline-block; }
.location { display: inline-block; }
.dates, .location { margin: 0 0 0.9em; }
.location:before { content: ' -- ';  }
.responsibilities { margin-top: 0.5em; margin-right: 20%; }
.responsibilities li { margin: 0; }
#experience h2 { width: 56.4%; }
#experience p, #experience li { max-width: 650px; }
@media print {
  body { margin: 0; max-width: 8in; font-size: 70%; }
  img { display: none !important; }
  h2 { border: 0; }
  a { text-decoration: none; color: #1d1916; }
  .coverletter { padding: 0; margin: 3em 7% 0; }
}
@media screen and (max-width: 640px), screen and (max-device-width: 480px) {
  html { font-size: 135%; }
  #side { float: none; margin: 0; width: auto; }
  #experience h2 { width: auto; }
}
/* Cover letter */
.coverletter { padding: 1em 0 2em; font-size: 150%; page-break-after:always; }
.coverletter p { margin-top: 0.75em; margin-bottom: 0.75em; }
